# DJANGO
SECRET_KEY=your-secret-key-here
DJANGO_SETTINGS_MODULE=your-settings-module
DEBUG=False
RENDER_EXTERNAL_HOSTNAME=<domen>

# Database
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWWORD=<db_password>
POSTGRES_HOST=<db_host>
