asgiref==3.12.1
crispy-bootstrap5==2026.9
Django==6.1.1
django-crispy-forms==2.7
django-debug-toolbar==8.0.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.8
psycopg2-binary==2.9.13
pycodestyle==2.15.0
pyflakes==4.0.0
python-dotenv==1.2.3
pytokens==0.4.1
sqlparse==0.6.0
tzdata==2026.3
flake8==7.4.1
